<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzKp9nwRa1mzjyXYhUOy90DSl1i99IOs4</string>
	<key>GCM_SENDER_ID</key>
	<string>57601764622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hariharanvj.hallSync.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hall-sync</string>
	<key>STORAGE_BUCKET</key>
	<string>hall-sync.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57601764622:ios:3d48d7c8d2ebd8be0b3b5f</string>
</dict>
</plist>